<div class="images">
    {% for image in images %}
        {% set extension = image | split(pat=".") | last %}
        {% if extension == "mp4" %}
            <video controls>
                <source src="{{ image }}"/>
            </video>
        {% else %}
            <a href="{{ image }}">
                <img src="{{ image }}"/>
            </a>
        {% endif %}
    {% endfor %}
</div>