<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Tim's Website</title>
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">-->
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/zilla-slab.css">
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <a class="navbar-brand" href="/">
                Tim's Website
            </a>
            <a class="navbar-item" href="/projects">
                Projects
            </a>
            <a class="navbar-item" href="/clubs">
                Clubs and Teams
            </a>
            <a class="navbar-item" href="/internships">
                Internships
            </a>
            <div class="navbar-item navbar-center"></div>
            <a class="navbar-item navbar-end" href="https://gitlab.com/timothyhollabaugh">
                <img src="/gitlab.svg" alt="Gitlab Profile">
            </a>
            <a class="navbar-item navbar-end" href="https://github.com/timothyhollabaugh">
                <img src="/github.svg" alt="Github Profile">
            </a>
        </nav>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <div class="footer">
            Last updated {{ now() | date(format="%B %d, %Y") }}
        </div>
    </body>

</html>
