{% extends "base.html" %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumb">
        <ul>
            {% for ancestor_path in page.ancestors %}
                {% set ancestor = get_section(path=ancestor_path) %}
                <li><a href={{ ancestor.path }}>{{ ancestor.title }}</a></li>
            {% endfor %}
            <li><a href={{ page.path }}>{{ page.title }}</a></li>
        </ul>
    </nav>

    <div class="header">
        <h1 class="title">
            {{ page.title }}
        </h1>
        <p class="subtitle">
            {{ page.date }}
        </p>
    </div>

    <div class="page-content">
        {{ page.content | safe }}
    </div>
{% endblock content %}
